
.header {
    height: 300px;
    width: 100%;

    background: black;
    overflow: hidden;
}

.z10 {
    z-index: 10;
}

.z15 {
    z-index: 15;
}

.z20 {
    z-index: 20;
}

.opacity {
    opacity: .7;

}
.video {
    position: absolute;
    width: 100%;
    height: 400px;
    object-fit: cover;

}
.headerimage {
    margin-top: 30px;
    margin-left: 50px;
    float: right;
}
#headertext {
    margin-top: 40px;
}
.albumlist {
    margin-top: 20px;
}
.rowlight {
    background-color: lightgray;
    height: 100%;
    width: 100%;

}
.artwork {
    margin-top: 15px;
    padding: 10px;
    height: 400px;
    width: auto;

}
.albumtitle {
    float: right;
    margin-top: 200px;
    margin-right: 50px;

}

#comments {
    display:block;
    float: right;
    font-weight: bold;
    margin-right: 400px;
    padding: 5px;

}

.forum{
    background-color: lightgray;


}
.form {
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.chatbox {
    margin-left: 10px;
    padding-top: 10px;
}