.body {
    background-color: rgb(216, 213, 213);
}
.header {
    height: 300px;
    width: 100%;

    background: black;
    overflow: hidden;
}

.z10 {
    z-index: 10;
}

.z15 {
    z-index: 15;
}

.z20 {
    z-index: 20;
}

.opacity {
    opacity: .7;

}
.video {
    position: absolute;
    width: 100%;
    height: 400px;
    object-fit: cover;

}
.headerimage {
    margin-top: 30px;
    margin-left: 50px;
    float: right;
}
#headertext {
    margin-top: 40px;
}
.albumlist {
    margin-top: 20px;
}
.rowlight {
    height: 400px;
    width: 100%;
    margin-left: 10px;
}
.artwork {
    padding: 5px;
    height: 250px;
    width: auto;

}